@tailwind base;
@layer base {
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-thumb {
        @apply bg-gradient-to-b from-cyan-600 to-blue-600;
        width: 6px;
        border-radius: 100px;
    }
    ::-webkit-scrollbar-track {
        width: 6px;
        border-radius: 100px;
    }
}
@tailwind components;
@layer components {
    .sender {
        @apply flex self-end bg-gradient-to-r from-sky-500 to-indigo-500 rounded-xl text-gray-200;
        border-top-right-radius: 0;
    }
    .reciever {
        @apply bg-sky-100 flex self-start text-gray-700 dark:bg-sky-100 dark:text-gray-800 rounded-xl;
        border-top-left-radius: 0;
    }
}
@tailwind utilities;    

@layer utilities {
    .flex-center {
        @apply flex justify-center items-center
    }
    .myshadow {
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }
    .z-2 {
        z-index: 20;
    }
}